<h1>All Games</h1>

<table>
  <tr>
    <th>Start Time</th>
    <th>Sheet</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= game.start_date %></td>
      <td><%= game.start_time %></td>
      <td><%= game.sheet %></td>
    </tr>
  <% end %>
</table>